//Fuentes
$main-font: "Open Sans", sans-serif;

// Tamaño de Media Queries
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

//Colores
$primary-color: #1d1d1d;
$white: #fff;
$light-gray: #e4e4e4;
