@use "../../base/variables" as v;

.cart {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: v.$white;
  z-index: 1;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 28rem;

  @media (min-width: v.$tablet) {
    width: 50rem;
  }

  &__count {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: v.$primary-color;
    color: v.$white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;

    &--red {
      background-color: v.$red;
    }
  }

  &__product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (min-width: v.$tablet) {
      padding: 2rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    &-name {
      font-size: 1.4rem;
    }
    &-price {
      font-size: 1.4rem;
      font-weight: 700;
    }
    &-quantity {
      font-size: 1.4rem;
    }

    &-image {
      display: none;
    }

    @media (min-width: v.$tablet) {
      &-name {
        font-size: 1.8rem;
      }
      &-price {
        font-size: 1.8rem;
        font-weight: 700;
      }
      &-quantity {
        font-size: 1.8rem;
      }
      &-image {
        display: unset;
        width: 10rem;
        height: 8rem;
        object-fit: cover;
      }
    }
  }

  &__delete {
    padding-left: 1rem;
    &-icon {
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        cursor: pointer;
        stroke: v.$red;
      }
    }
  }

  &--hidden {
    display: none;
  }
}
